@charset "UTF-8";

/*Todas as versões de midias*/

@media print{
    body{
        background-image: url(../imagens/back-print.jpg);
    }
    main h1{
        font-family: 'Courier New', Courier, monospace;
    }
    #tel {display: none ;}
    #tablet{display: none;}
    #print{display: block;}
    #pc{display: none;}
    #tv{display: none;}


}

@media screen and (min-width: 768px) and (max-width: 992px) {

    body{
        background-image: url(../imagens/back-tablet.jpg);   
    }  
    #tel {display: none ;}
    #tablet{display: block;}
    #print{display: none;}
    #pc{display: none;}
    #tv{display: none;}
}

@media screen and (min-width:992px) and (max-width: 1200px) {
    body{
        background-image: url(../imagens/back-pc.jpg);
    }

    #tel {display: none ;}
    #tablet{display: none;}
    #print{display: none;}
    #pc{display: block;}
    #tv{display: none;}
}

@media screen and (min-width: 1200px) {
    body{
        background-image: url(../imagens/back-tv.jpg);
    }
    #tel {display: none ;}
    #tablet{display: none;}
    #print{display: none;}
    #pc{display: none;}
    #tv{display: block;}
}