@charset "UTF-8";

* {

    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #005E54, #003547);

}
main{

    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 3px #005E54;
}
h1{
    color: #E1523D;
    text-align: center;
    text-shadow: 1px 1px 1px #005E54;

}

h2{
    color: #C2BB00;


}



p{
    text-align: justify;

}

